[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/5hdumat/hugo-book
[submodule "public"]
	path = public
	url = https://github.com/77hdumat/77hdumat.github.io.git
	branch = github-pages
